.select-modal-container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 50%;
  height: 400px;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  .select-modal-image-and-close {
    display: flex;
    flex-direction: row;

    .modal-image {
      max-width: 100px;
      max-height: 100px;
      justify-content: space-around;
    }

    .modal-close {
      position: absolute;
      margin-left: auto;
      cursor: pointer;
      color: red;
      padding-right: 15px;
      right: 0;
      font-size: 20px;
    }
  }

  .serving-info {

    .select-serving {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .servings-info-left {
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: #e0e0e0;
        border-bottom: 4px solid rgba(62, 0, 158);

        .serving-text {
          font-size: 12px;
        }

        .serving-size-select {
          align-self: center;
          font-size: 24px;
          padding-top: 5px;
        }
      }

      .arrows {
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .arrow {
          font-weight: bold;
          position: relative;
          font-size: 20px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          height: 34px;
        }
      }

      .servings-info-right {
        display: flex;
        margin-left: auto;
        justify-content: space-around;

        .measurements {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          padding-left: 10px;

          .unit-measurement {
            font-weight: bold;
            text-align: right;
            font-size: 24px;
          }
        }

        .nut-info {
          display: flex;
          flex-direction: column;
          margin-right: 10%;


          .calories {
            font-weight: bold;
            text-align: right;
            font-size: 24px;
          }
        }
      }
    }
  }

  .meal-time-dropdown {
    height: 40px;
    background-color: #e0e0e0;

    option {
      width: 10px;
    }
  }
}

select {
  width: 100%;
  height: 200%;
  margin-top: 10px;
}

.modal-add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-add-button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 2%;
    background-color: rgba(62, 0, 158);
    border-radius: 10px;
    color: white;
    border: none;
    height: 25px;
    width: 50%;
    cursor: pointer;
  }
}




@media only screen and (max-width: 450px) {
  .select-serving {
    flex-direction: row;
    justify-content: space-between;
  }

  .servings-info-right {
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
  }

  .servings-info-left {
    width: 100px;
    flex-direction: row;
    background-color: red;
  }

  .select-modal-container {
    height: 400px;
    width: 90%;
    margin-top: 25px;

    .select-serving {
      justify-content: center;
      align-items: center;

      .arrows {
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 55px;
        width: 30px;

        .arrow {
          position: relative;
        }
      }
    }
  }
}
