.main-page {
  display: flex;
  max-height: 100%;

  .profile-section {
    width: 30%;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(224, 224, 224);
    position: relative;
  }

  .food-section {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
  }

  .no-food-desc {
    padding-top: 25vw;
    color:  #c4c2c2;
    text-align: center;
    font-size: 30px;
  }

  .sign-in-modal {
    display: flex;
    justify-content: center;
    z-index: 1000000;
    top: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);


  }
}

@media only screen and (max-width: 870px) {
  .main-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 65px);

    .profile-section {
      width: 100%;
      height: auto;
    }

    .food-section {
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 870px) {


}
